.topBtn {
  position: relative;
  margin-top: 5px;
  margin-left: 10px;
  display: inline-block;
  -webkit-app-region: no-drag;
}

#appName {
  -webkit-app-region: no-drag;
}

.topBtn:hover {
  cursor: pointer;
}

#drag {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#login-form {
  margin-top: 50px;
}

body {
  background-color: rgb(140, 140, 140);
}

#customdropdown {
  float: right;
}

#customdropdown {
  width: 150px;
}

